@import "src/styles/helpers";

.giveaway-tabs {
  margin-bottom: 16px;

  &__content {
    display: flex;
    gap: 8px;
    overflow-x: auto;
    padding-bottom: 4px;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
























