@import "src/styles/helpers";
.shop-promocodes-page {
  padding: 16px;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
  h1{
    color: $n8;
    @include title1-s;
  }

  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
}
